*,
::before,
::after {
  box-sizing: border-box;
}
nav{
    background-color: black;
   }
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul li{
    color: white;   
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.bbc_home div{
display: flex;
}