*,
::before,
::after {
  box-sizing: border-box;
}
nav{
    background-color: black;
   }
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul li{
    color: white;   
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
aside{
    display: flex;
    justify-content: space-between;
}
.bbc_home{
display: flex;
}
.bbc_home_main{
    width: 150%;
}
.bbc_home_articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;

}
article{
    width: 40%;
    border: 1px solid black;

}