*,
::before,
::after {
  box-sizing: border-box;
}
nav{
    background-color: black;
   }
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul li{
    color: white;   
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
aside{
    display:flex;
    justify-content: space-between;
}
.bbc_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.bbc_home_main{
    flex: .7;
}
.bbc_home_articles{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
}
article{
    border: 1px solid black;
    flex-basis: 45%;
    margin: 10px;
    padding: 10px;

}
span, h2{
    border-left: 3px solid red;
    padding-left: 5px;
    margin-left: 5px;


}
.bbc_news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}