*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    background-color: #4A5E6A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
header ul li{
    margin: 0 10px;
    display: inline-flex;
}
header ul li a{
    text-decoration: none;
    color: white;
}
header ul li a:hover{
    color: #F0F0F0;
}
main section{
    height: 200px;
}
.hero{
    background-color: #4A5E6A;
}
.why{
    background-color: white;
}
.classes{
    background-color: #B6BBC4;
}
footer{
    background-color: #161A30;
    color: white;
}